{% extends "atendimentos/base.html" %}

{%load bootstrap3%}

{%block content%}

    <form action ="{%url 'register'%}" method="post" class="ul-none">
        {%csrf_token%}
        {%bootstrap_form form %}
        {%bootstrap_form form2 %}
        {%buttons%}  
        <button name="submit" class="btn btn-default" aria-label="Left Align">Registrar</button>
        <a href="{%url 'index'%}"class="btn btn-danger" aria-label="Left Align">Cancelar</a>
    {%endbuttons%}

    </form>
    <style>
        .ul-none ul{
            display: none;
        }
        .tableheader{
            position:sticky;
            top: 0 ;
        }
        .helptext{
            display:none
        }
        .form-control{
            max-width: 20%;
        }
    </style>

<script>
   document.getElementById('id_cpf').addEventListener('input', function(e) {
            var value = e.target.value;
            var cpfPattern = value
                .replace(/\D/g, '') // Remove qualquer coisa que não seja número
                .replace(/(\d{3})(\d)/, '$1.$2') // Adiciona ponto após o terceiro dígito
                .replace(/(\d{3})(\d)/, '$1.$2') // Adiciona ponto após o sexto dígito
                .replace(/(\d{3})(\d)/, '$1-$2') // Adiciona traço após o nono dígito
                .replace(/(-\d{2})\d+?$/, '$1'); // Impede entrada de mais de 11 dígitos
            e.target.value = cpfPattern;
        });


</script>
{%endblock content%}
