{%extends "atendimentos/base.html"%}
{%load bootstrap3%}

{%block header%}
{%if not filtrado%}
<h1>Atendimentos</h1>

{%else%}
<h1>Atendimentos do Mês {{mesnome}} do ano de {{ano}}</h1>
{%endif%}
    {%endblock header%}
    
{% block content%}

<div>
    <h4>Filtrar Atendimentos</h2>
    <form action="/atendimentos" method="post" class="form">
        {%csrf_token%}
        <select class="btn btn-default form-select pull" name="mes" required>
            <option value="" selected>Selecione o Mês</option>
            <option value="01">Janeiro</option>
            <option value="02">Fevereiro</option>
            <option value="03">Março</option>
            <option value="04">Abril</option>
            <option value="05">Maio</option>
            <option value="06">Junho</option>
            <option value="07">Julho</option>
            <option value="08">Agosto</option>
            <option value="09">Setembro</option>
            <option value="10">Outubro</option>
            <option value="11">Novembro</option>
            <option value="12">Dezembro</option>
          </select>
            <input type="text" class="form-control" name= "ano" placeholder="Ano" required aria-describedby="basic-addon1">
            {%buttons%}  
            <button name="submit" class="btn btn-default" aria-label="Left Align">Filtrar</button>
            <a href="{%url 'atendimentos'%}"class="btn btn-danger" aria-label="Left Align">Limpar</a>
        {%endbuttons%}
    </form>
</div>



<table class="table table-bordered ">
    
        <a class="btn btn-primary pull-right" style="margin:10px" aria-label="Left Align" href="{% url 'new_atendimento'%}">Novo Atendimento</a>
        <tr>
            <th class="tableheader" scope="col">Código de Atendimento</th>
            <th class="tableheader" scope="col">Nome do Paciente</th>
            <th class="tableheader" scope="col">Usuário</th>
            <th class="tableheader" scope="col">Exames</th>
            <th class="tableheader" scope="col">Data</th>
            <th class="tableheader" scope="col">Ações</th>
          </tr>    
    {% for atendimento in atendimentos %}
        <tr>
        <td>
            <h4>
                 <small><a title="Clique para visualizar o Atendimento" href="{% url 'atendimento' atendimento.id%}">{{atendimento.codigo}}</a></small>
            </h4>
        </td>
        <td>
            <h4>
                 <small><a title="Clique para visualizar o Atendimento" href="{% url 'atendimento' atendimento.id%}">{{atendimento.nomePaciente}}</a></small>
            </h4>
        <td>
            <h4>
                    <!-- <a href="{% url 'atendimento' atendimento.id%}">{{atendimento.usuario}}</a> -->
                 <small>   <a class="text-uppercase" title="Clique para visualizar o Atendimento" href="{% url 'atendimento' atendimento.id%}">{{atendimento.usuario}}</a></small>
            </h4>
        </td>
        <td>
            <h4>
                 <small><a class="" title="Clique para visualizar o Atendimento" href="{% url 'atendimento' atendimento.id%}">{{atendimento}}</a></small>
            </h4>
        </td>
        <td>
            <h4>
                 <small><a title="Clique para visualizar o Atendimento" href="{% url 'atendimento' atendimento.id%}">{{atendimento.dataAtendimento}}</a></small>
            </h4>
        </td>
        <td>
            <h4>
                 <a title="Apagar Atendimento" class="glyphicon glyphicon-trash" onclick="return confirm('Tem certeza que deseja excluir?')" href="{% url 'delete_atendimento' atendimento.id%}"></a>
                 <a title="Editar Atendimento" class="glyphicon glyphicon-pencil" href="{% url 'edit_atendimento' atendimento.id%}"></a>
            </h4>
        </td>
        </td>
        </tr>
         {%empty%}
         <td>
        <h4>Não há atendimentos</h4>
        </td>
    {% endfor %}
    </table>

    <style>
        .form-control{
            max-width: 13.2%;
        }
    </style>

{%endblock content%}
