<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório PDF</title>
    <style>
        @page{
            size: "A4";
            margin: 1.5cm 1.5cm 1.5cm 1.5cm;
            @top-center{
                content: "Laboratório Amazônia";
            }
            @bottom-right{
                content: "Page "counter(page)" of " counter(pages);
            }
        }
        table, th, td {
        border: 1px solid black;
}   


    </style>
</head>
<body>
    <img  style="width:15%;height:15%;" src="https://media.canva.com/1/image-resize/1/264_112_100_PNG_F/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9KN1FiWS9NQUYzem5KN1FiWS8xL3AucG5n?osig=AAAAAAAAAAAAAAAAAAAAAKzbXyl5rPbAbgr0g1fKNyLEzyyrIZRlYJ0ezqS4KApB&exp=1714802710&x-canva-quality=thumbnail_large&x-canva-subsampling=T&csig=AAAAAAAAAAAAAAAAAAAAAN_gMuL2dLN9r8rzSt0fqynlXHD2RU922MoeVp6N0Een"/>
    
<h3>Listagem de Atendimentos</h3>

    <table class="table">
        <thead class="thead">
            <tr>
                <th>Código do Atendimento</th>
                <th>Nome do Paciente</th>
                <th>Exames</th>
                <th>Data de Atendimento</th>
            </tr>
            
        <tbody>
            {% for atendimento in atendimentos%}
            <tr>
                <td>{{atendimento.codigo}}</td>
                <td>{{atendimento.nomePaciente}}</td>
                <td>{{atendimento}}</td>
                <td>{{atendimento.dataAtendimento}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

</body>
</html>