<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório PDF</title>
    <style>
        @page{
            size: "A4";
            margin: 0.3cm 0.3cm 0.7cm 0.3cm;
            @bottom-right{
                content: "Página "counter(page)" of " counter(pages);
            }
        }
       
        table, th, td {
        border: 1px solid black;
}   
body {
  background-image: url('img_girl.jpg');
}


    </style>
</head>
<body>
    <img  style="width:15%;height:15%;" src="https://i.ibb.co/NjSYh6x/logo.png"/>

    <h3>Listagem de Atendimentos</h3>

    <table class="table">
        <thead class="thead">
            <tr>
                <th>Código do Atendimento</th>
                <th>Nome do Paciente</th>
                <th>Exames</th>
                <th>Data de Atendimento</th>
            </tr>
            
        <tbody>
            {% for atendimento in atendimentos%}
            <tr>
                <td>{{atendimento.codigo}}</td>
                <td>{{atendimento.nomePaciente}}</td>
                <td>{{atendimento}}</td>
                <td>{{atendimento.dataAtendimento}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

</body>
</html>